{
  "root": true,
  "extends": ["@unity/eslint-config-next"],
  "parserOptions": {
    "project": "**/tsconfig.json"
  },
  "ignorePatterns": ["*config.*", "dist/**/*.js", "dist/**/*.ts"],
  "rules": {
    "no-restricted-syntax": [
      "error",
      "ForInStatement",
      "LabeledStatement",
      "WithStatement"
    ],
    "no-await-in-loop": "off"
  }
}
