@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  overflow-x: hidden;
}

body {
  font-family: var(--font-lexend);
  font-weight: 300;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-montserrat);
}

a,
span {
  display: block;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.ais-Hits-item {
  margin-bottom: 1.5rem;
}

.ais-Hits-item:last-child {
  margin-bottom: 0;
}

.ais-SearchBox-form {
  margin: 0.25rem 0 1.25rem;
}

.ais-SearchBox-input {
  outline-offset: initial;
  width: 15rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  border: 1px solid darkgray;
}

[data-component="cSearchModel"] span.ais-SearchBox-loadingIndicator,
.ais-SearchBox-reset,
.ais-SearchBox-submit {
  display: none;
}